In [70]:
import pandas as pd
import numpy as np

In [71]:
df = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv')

In [72]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

# Q1. Pandas version

What's the version of Pandas that you installed?

In [73]:
pd.__version__

'2.3.1'

# Q2. Records count

How many records are in the dataset?

In [74]:
len(df)

9704

In [75]:
df.isna().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

# Q3. Fuel types

How many fuel types are presented in the dataset?

In [76]:
df['fuel_type'].nunique()

2

In [77]:
df['fuel_type'].unique()

array(['Gasoline', 'Diesel'], dtype=object)

# Q4. Missing values

How many columns in the dataset have missing values?

In [78]:
sum((df.isna().sum() > 0))

4

# Q5. Max fuel efficiency

What's the maximum fuel efficiency of cars from Asia?

In [79]:
df.loc[df['origin']=='Asia', 'fuel_efficiency_mpg'].max()

np.float64(23.759122836520497)

# Q6. Median value of horsepower

1. Find the median value of horsepower column in the dataset.
2. Next, calculate the most frequent value of the same horsepower column.
3. Use fillna method to fill the missing values in horsepower column with the most frequent value from the previous step.
4. Now, calculate the median value of horsepower once again.

Has it changed?

In [80]:
df['horsepower'].median()

np.float64(149.0)

In [81]:
df['horsepower'].mode()

0    152.0
Name: horsepower, dtype: float64

In [82]:
horsepower_mode = df['horsepower'].mode()[0]

In [83]:
df['horsepower'].fillna(horsepower_mode).median()

np.float64(152.0)

# Q7. Sum of weights

1. Select all the cars from Asia
2. Select only columns vehicle_weight and model_year
3. Select the first 7 values
4. Get the underlying NumPy array. Let's call it X.
5. Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
6. Invert XTX.
7. Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200].
8. Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
9. What's the sum of all the elements of the result?

In [84]:
df_asian_cars = df[df['origin']=='Asia']

In [85]:
df_asian_cards_filtered = df_asian_cars[['vehicle_weight', 'model_year']]

In [86]:
df_asian_cards_filtered_first_7 = df_asian_cars[['vehicle_weight', 'model_year']].head(7)

In [87]:
df_asian_cards_filtered_first_7

    vehicle_weight  model_year
8      2714.219310        2016
12     2783.868974        2010
14     3582.687368        2007
20     2231.808142        2011
21     2659.431451        2016
34     2844.227534        2014
38     3761.994038        2019

In [88]:
X = df_asian_cards_filtered_first_7.to_numpy()
X

array([[2714.21930965, 2016.        ],
       [2783.86897424, 2010.        ],
       [3582.68736772, 2007.        ],
       [2231.8081416 , 2011.        ],
       [2659.43145076, 2016.        ],
       [2844.22753389, 2014.        ],
       [3761.99403819, 2019.        ]])

In [89]:
XTX = X.T @ X
XTX

array([[62248334.33150762, 41431216.5073268 ],
       [41431216.5073268 , 28373339.        ]])

In [90]:
XTX_inv = np.linalg.inv(XTX)
XTX_inv

array([[ 5.71497081e-07, -8.34509443e-07],
       [-8.34509443e-07,  1.25380877e-06]])

In [91]:
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])
y

array([1100, 1300,  800,  900, 1000, 1100, 1200])

In [92]:
w = XTX_inv @ X.T @ y
w

array([0.01386421, 0.5049067 ])

In [93]:
sum(w)

np.float64(0.5187709081074016)