In [86]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [87]:
%matplotlib inline

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/course_lead_scoring.csv')

In [89]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

**Preparing the dataset**


- Check if the missing values are presented in the features.
- If there are missing values:
    - For caterogiral features, replace them with 'NA'
    - For numerical features, replace with with 0.0

# Q1.

What is the most frequent observation (mode) for the column industry?

-    NA
-    technology
-    healthcare
-    retail

# Q2.

Create the correlation matrix for the numerical features of your dataset. In a correlation matrix, you compute the correlation coefficient between every pair of features.

What are the two features that have the biggest correlation?

-    interaction_count and lead_score
-    number_of_courses_viewed and lead_score
-    number_of_courses_viewed and interaction_count
-    annual_income and interaction_count

Only consider the pairs above when answering this question.

**Split the data**

-    Split your data in train/val/test sets with 60%/20%/20% distribution.
-    Use Scikit-Learn for that (the train_test_split function) and set the seed to 42.
-    Make sure that the target value y is not in your dataframe.

# Q3.

-    Calculate the mutual information score between y and other categorical variables in the dataset. Use the training set only.
-    Round the scores to 2 decimals using round(score, 2).

Which of these variables has the biggest mutual information score?

-    industry
-    location
-    lead_source
-    employment_status

# Q4.

-    Now let's train a logistic regression.
-    Remember that we have several categorical variables in the dataset. Include them using one-hot encoding.
-    Fit the model on the training dataset.
    -        To make sure the results are reproducible across different versions of Scikit-Learn, fit the model with these parameters:
    -        model = LogisticRegression(solver='liblinear', C=1.0, max_iter=1000, random_state=42)
-    Calculate the accuracy on the validation dataset and round it to 2 decimal digits.

What accuracy did you get?

-    0.64
-    0.74
-    0.84
-    0.94

# Q5.

-    Let's find the least useful feature using the feature elimination technique.
-    Train a model using the same features and parameters as in Q4 (without rounding).
-    Now exclude each feature from this set and train a model without it. Record the accuracy for each model.
-    For each feature, calculate the difference between the original accuracy and the accuracy without the feature.

Which of following feature has the smallest difference?

-    'industry'
-    'employment_status'
-    'lead_score'

    Note: The difference doesn't have to be positive.

# Q6.

-    Now let's train a regularized logistic regression.
-    Let's try the following values of the parameter C: [0.01, 0.1, 1, 10, 100].
-    Train models using all the features as in Q4.
-    Calculate the accuracy on the validation dataset and round it to 3 decimal digits.

Which of these C leads to the best accuracy on the validation set?

-    0.01
-    0.1
-    1
-    10
-    100

    Note: If there are multiple options, select the smallest C.